.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 1rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  margin: 1rem auto;
  padding: 2rem 1rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  overflow: scroll;
}
.tbody {
  min-width: 90vw;
}
.container p {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.container h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  background-color: rgb(170, 5, 5);
  color: white;
}
.actions {
  display: flex;
  justify-content: space-around;
}

.container-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin: 5px;
}

.main {
  margin-top: 1rem auto;
  max-width: 95%;
}

.main h2 {
  text-align: center;
}

.table-heading {
  background-color: dodgerblue;
  color: white;
}

.refresh {
  cursor: pointer;
}

.filter {
  display: flex;
  cursor: pointer;
}

.filter_items_container {
  display: flex;
  justify-content: flex-end;
}

.filter-list {
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 0.8rem;
  }

  .container {
    max-width: 90vw;
  }
}
